@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Bold.ttf);
    src: url(/fonts/Montserrat-ExtraBold.ttf);
    src: url(/fonts/Montserrat-Medium.ttf);
    src: url(/fonts/Montserrat-Regular.ttf);
    src: url(/fonts/Montserrat-SemiBold.ttf);
}
body {
    font-family: 'Montserrat';
    font-size: 1em;
    background-color: white;
}
#header {
    width: 100vw;
    height: 50vw;
    background: url(/img/bgd1.png) no-repeat;
    background-size: cover;
}
.container {
    min-width: 360px;
    max-width: 1200px;
    margin: 0 auto;
}
.menu-wrapper {
    display: flex;
    justify-content: right;
}
#menu {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    margin-bottom: 2.5em;
}
.menu-link {
    min-width: 150px;
    text-decoration: none;
    line-height: 2.2em;
    color: white;
}
hr {
    height: 0.125em;
    margin: 0;
    border: none;
    background-color: #A1A1A1;
}
.heading {
    margin-top: 10.4em;
    text-align: center;
    color: white;
}
.heading h1 {
    margin: 0.25em auto 0.93em;
    font-family: 'Montserrat-ExtraBold';
    font-size: 3em;
    font-weight: 800;
}
button {
    display: flex;
    margin: 0 auto;
    padding: 0.81em 2.25em;
    border: none;
    border-radius: 1.87em;
    background-color: #4985FF;
    color: white;
}

/* section #2 */
#main {
    margin-top: 6.87em;
    text-align: center;
    color: #323232;   
}
#main h2{
    margin-bottom: 3em;
    font-weight: 700;
    font-size: 2.25em;
    color: #323232;
}
#main p {
    margin-bottom: 4em;
    color: #999999;
}
.main_tags {
    display: flex;
}
.tags {
    display: flex;
    align-items: baseline;
}
.pictures {
    display: flex;
    text-align: center;
}
.circle.internal {
    width: 5.62em;
    height: 5.62em;
    border: 1px solid #4985FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle.external {
    width: 6.875em;
    height: 6.875em;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.text p, h3{
    width: 58%;
}
.text h3 {
    font-weight: 700;
    font-size: 1.12em;
    color: #000000;
    margin-bottom: 0.75em;
}
