@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Bold.ttf);
    src: url(/fonts/Montserrat-ExtraBold.ttf);
    src: url(/fonts/Montserrat-Medium.ttf);
    src: url(/fonts/Montserrat-Regular.ttf);
    src: url(/fonts/Montserrat-SemiBold.ttf);
}
body {
    background-color: red;
    font-family: 'Montserrat';
    font-size: 1em;
}
#header {
    background: url(/img/bgd1.png) no-repeat;
    width: 100vw;
    height: 50vw;
    background-size: cover;
}
.menu-wrapper {
    display: flex;
    justify-content: right;
}
#menu {
    display: flex;
    justify-content: space-between;
    padding-top: 1.75em;
    margin-bottom: 2.5em;
}
.menu-link {
    min-width: 150px;
    text-decoration: none;
    color: white;
    line-height: 2.2em;
}
